@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;900&display=swap");
.fb_main_head {
    position: absolute;
    z-index: 10;
    width: 50vw;
    top: 23vw;
}

.fb_main_div {
    display: flex;
    justify-content: center;
}

.FRL_ITEM:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.801);
}

.FR_COUNTER {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    background-color: rgb(42, 40, 65);
    padding-top: 2rem;
    padding-bottom: 3rem;
}

.fr_timer {
    font-family: 'Roboto', sans-serif;
    color: #fa4454;
    font-size: 4vw;
    margin-top: 2rem;
}

.FR_COUNTER>img {
    width: 60vw;
    margin-top: 3rem;
}

.reg_div_fr {
    display: flex;
    background-color: rgb(51, 50, 63);
    flex-direction: column;
    align-items: center;
}

.gameRegValorant {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://firebasestorage.googleapis.com/v0/b/btui-2020.appspot.com/o/assets%2Ffrostbyte%2Fregis%2FVAL_REG.png?alt=media&token=713b7436-fa52-4150-9a4b-ab0995c0593c');
}

.gameRegDT {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://firebasestorage.googleapis.com/v0/b/btui-2020.appspot.com/o/assets%2Ffrostbyte%2Fregis%2FDT_REG.png?alt=media&token=2b9f7712-c0ad-4b6b-917f-2557db2aba0a');
}

.gameRegMC {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://firebasestorage.googleapis.com/v0/b/btui-2020.appspot.com/o/assets%2Ffrostbyte%2Fregis%2FMC_REG.png?alt=media&token=726b00ab-cb60-4b85-bc5d-8490dc5189e9');
}

.GameRegCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 6vw;
    color: rgb(168, 168, 168);
    width: 100vw;
    height: 30vw;
    /* border: solid white 4px; */
    background-position: center;
    background-size: 100%;
    transition-property: background-size color;
    transition-duration: 0.2s;
}

.GameRegCard:hover {
    background-size: 120%;
    color: rgb(255, 255, 255);
}

.GameRegCard>h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 8vw;
}