@import url('https://fonts.googleapis.com/css?family=Chivo:300,300i,400,400i,700,700i,900,900i|Saira+Extra+Condensed:100,200,300,400,500,600,700,800|Saira:100,200,300,400,500,600,700,800');

.timeline-body {
    background: #252827;
    font-size: 16px;
    padding-top: 2px;
    padding-bottom: 2px;  
}

.timeline-body p {
    font-weight: 300;
    margin-top: 5px;
    margin-bottom: 5px;
}


.timeline-body a {
    color: #6c6d6d;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    letter-spacing: .3em;
    font-size: .6em;
    font-weight: 400;
    background: #252727;
    padding: .3rem 1rem;
    margin: 1.9rem 0 0 0;
    float: right;
}


.timeline-body a:hover {
    color: #ffffff;
    background: #004ffc;
    border-bottom: .35em solid black;
}


.timeline-body strong {
    font-weight: 600;
}

.timelineH1 {
    font-family: 'Saira', sans-serif;
    letter-spacing: 1.5px;
    color: aqua;
    font-weight: 400;
    font-size: 2.4em;
}

#timeline-content {
    margin-top: 50px;
    text-align: center;
}


/* Timeline */

.timeline {
    border-left: 4px solid aqua;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    background: rgba(255, 255, 255, 0.03);
    color: rgba(255, 255, 255, 0.8);
    font-family: 'Chivo', sans-serif;
    margin: 50px auto;
    letter-spacing: 0.5px;
    position: relative;
    line-height: 1.4em;
    font-size: 1.03em;
    padding: 50px;
    list-style: none;
    text-align: left;
    font-weight: 100;
    max-width: 50%;
}

@media(max-width: 768px) {
    .timeline {
        max-width: 80%;
        margin-right: 0rem;
    }
    .timeline h1 {
        font-size: 0.5rem;
    }
    .timeline .event:before {
        font-size: 0.25rem;
    }
    .timeline h2,
    .timeline h3 {
        font-size: 0.5rem;
    }
}

.timeline h1 {
    font-family: 'Saira', sans-serif;
    letter-spacing: 1.5px;
    font-weight: 100;
    font-size: 1.4em;
}

.timeline h2,
.timeline h3 {
    font-family: 'Saira', sans-serif;
    letter-spacing: 1.5px;
    font-weight: 400;
    font-size: 1.4em;
    color: aqua;
}

.timeline .event {
    border-bottom: 1px dashed rgba(255, 255, 255, 0.1);
    padding-bottom: 25px;
    margin-bottom: 50px;
    position: relative;
}

.timeline .event:last-of-type {
    padding-bottom: 0;
    margin-bottom: 0;
    border: none;
}

.timeline .event:before,
.timeline .event:after {
    position: absolute;
    display: block;
    top: 0;
}

.timeline .event:before {
    left: -205px;
    color: white;
    content: attr(data-date);
    text-align: right;
    font-weight: 100;
    font-size: 0.9em;
    min-width: 120px;
    font-family: 'Saira', sans-serif;
}

.timeline .event:after {
    box-shadow: 0 0 0 4px aqua;
    left: -57.85px;
    background: #313534;
    border-radius: 50%;
    height: 11px;
    width: 11px;
    content: "";
    top: 5px;
}